


/* It turns out that we can move all our style code into a special file called a CSS file. We can create a file called style.css
 and paste our classes there: */


 .centered {

    text-align: center;
    
 }

 .large {

    font-size: large;
 }

 .medium {

    font-size: medium;
 }

 .small {

    font-size: small;
 }


 /* Notice that this is verbatim what appeared in our HTML file. */

