<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
</head>
<body>

    <!--

    Forms

        Improving upon our program, we know that most users will not type arguments into the address bar. Instead,
        programmers rely upon users to fill out forms on web pages. Accordingly, we can modify index.html as follows:

    -->

    <form action="/greet" method="get">
        <input autocomplete="off" autofocus name="name" placeholder="Name" type="text">
        <button type="submit">Greet</button>
    </form>

</body>
</html>